@font-face {
  font-family: "iconfont"; /* Project id 4851011 */
  src: url('iconfont.woff2?t=1741529109988') format('woff2'),
       url('iconfont.woff?t=1741529109988') format('woff'),
       url('iconfont.ttf?t=1741529109988') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangguan:before {
  content: "\eb69";
}

.icon-xiyiji:before {
  content: "\eb6a";
}

.icon-xiaodugui:before {
  content: "\eb6b";
}

.icon-xinhao:before {
  content: "\eb6c";
}

.icon-yingyin:before {
  content: "\eb6d";
}

.icon-yunduanshuju:before {
  content: "\eb6e";
}

.icon-youxi:before {
  content: "\eb6f";
}

.icon-zhinengsuo:before {
  content: "\eb70";
}

.icon-zhinengshoubiao:before {
  content: "\eb71";
}

.icon-CD:before {
  content: "\eb72";
}

.icon-VR:before {
  content: "\eb73";
}

.icon-chengshi:before {
  content: "\eb74";
}

.icon-shijie:before {
  content: "\ecb9";
}

.icon-dingwei:before {
  content: "\eb53";
}

.icon-bijiben:before {
  content: "\eb54";
}

.icon-deng:before {
  content: "\eb55";
}

.icon-ditu:before {
  content: "\eb56";
}

.icon-anquan:before {
  content: "\eb57";
}

.icon-gaotie:before {
  content: "\eb58";
}

.icon-feiji:before {
  content: "\eb59";
}

.icon-gongxiangdanche:before {
  content: "\eb5a";
}

.icon-jiaobanji:before {
  content: "\eb5b";
}

.icon-gongchang:before {
  content: "\eb5c";
}

.icon-jieneng:before {
  content: "\eb5d";
}

.icon-kafeiji:before {
  content: "\eb5e";
}

.icon-jingdian:before {
  content: "\eb5f";
}

.icon-mozu:before {
  content: "\eb60";
}

.icon-lunchuan:before {
  content: "\eb61";
}

.icon-saomazhifu:before {
  content: "\eb62";
}

.icon-saodiji:before {
  content: "\eb63";
}

.icon-renlianshibie:before {
  content: "\eb64";
}

.icon-qiche:before {
  content: "\eb65";
}

.icon-shexiangtou:before {
  content: "\eb66";
}

.icon-shangdian:before {
  content: "\eb67";
}

.icon-shengbo:before {
  content: "\eb68";
}

